<div class="subheading">
    about
    <div class="subtext">As an engineer, I'm experienced in mobile product and backend development.</div>
    <div class="subtext">
        Some of the things I'm interested in right now:
        <ul class="bullets">
            <li><a href="https://www.npr.org/2026/02/17/nx-s1-5711344/ai-is-helping-individual-scientists-study-suggests-but-not-science" class="white-link">AI for Science</a> and developing technology to actually improve scientist workflows</li>
            <li>How to scale up mobile apps and writing UI and infrastructure to last</li>
            <li>Moving faster from prototyping to production</li>
        </ul>
    </div>
</div>