{% load static %}

<head>
    <title>Jonathan Chen</title>
    <link type="text/css" href="{% static 'pages/home.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="my-container">
        <div class="img-container">
            <img class="object-cover w-48 h-48 rounded-full" src="{% static 'pages/headshot2.jpg' %}" alt="My face">
        </div>
        <div class="name">Jonathan Chen</div>
        <div class="subname">software engineer</div>
        <div class="icon-list">
            <a class="icon" href="https://www.linkedin.com/in/jonathanchenq/"> <i class="fa-brands fa-linkedin"></i> <div class="icon-sub">LinkedIn</div></a>
            <a class="icon" href="https://github.com/04jono"> <i class="fa-brands fa-github"></i> <div class="icon-sub">GitHub</div></a>
            <a class="icon" href="./resume"> <i class="fa-solid fa-file-lines"></i> <div class="icon-sub">Resume</div></a>
        </div>
        <div class="subheading">
            about
            <div class="subtext">I am a junior at Cornell University studying Computer Science with a minor in Statistics. I'm interested in software engineering, mobile app development, and machine learning.</div>
        </div>
        <div class="subheading">
            experience
            <div class="subtext">
                <ul class="no-bullets">
                    <li class="no-bullets">Software Engineer Intern @ <a href="https://www.oracle.com/" class="company">Oracle</a></li>
                    <li class="no-bullets">Software Engineer Intern @ <a href="https://www.intelliantech.com/en/home" class="company">Intellian Technologies</a></li>
                </ul>
            </div>
        </div>
        <div class="subheading">
            check these out
            <div class="subtext">
                <ul class="no-bullets">
                    <li class="no-bullets">An Android app for checking TCAT routes, <a href="https://github.com/cuappdev/ithaca-transit-compose" class="company">Ithaca Transit</a></li>
                    <li class="no-bullets">A daily song guessing game for me and my friends, <a href="https://www.intelliantech.com/en/home" class="company">Playlistle</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>