{% load static %}

<head>
    <link href="{% static 'pages/home.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="name">jonathan chen</div>
        <div class="subheading">
            bio
            <p>I am a Computer Science student at Cornell University.</p>
        </div>
        <div class="subheading">
            links
            <ul>
                <li><a href="https://www.linkedin.com/in/jonathanchenq/">linkedin <i class="fa-solid fa-link"></i></a>
                </li>
                <li><a href="https://github.com/04jono">github <i class="fa-solid fa-link"></i></a></li>
            </ul>
        </div>
        <div class="subheading">
            experience
            <ul>
                <li><a href="./resume">resume<i class="fa-solid fa-link"></i></a>
                </li>
            </ul>
        </div>
    </div>
</body>