html 
{
    background-color: 	#282828;
}

.container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.subheading {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: block;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
    overflow-wrap: break-word;
    max-width: 800px;
}

.icon-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    width: 50px;
    text-decoration:none;
}

a.icon:hover {
    color: lightsteelblue;
}

.icon-sub {
    font-size:10px;
    text-align:center;
    font-family: Verdana, sans-serif;
}

i {
    font-size: 28px;
    margin: 10px 10px;
}

a {
    color: white;
}

a:hover {
    color: lightsteelblue
}

ul {
    list-style-type: none;
    padding: 0 0;
    margin: 10px 0;
}

img.profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}