{% load static %}

<head>
    <meta name="robots" content="noindex">
    <title>Playlistle - jonochen.net</title>
    <link type="text/css" href="{% static 'playlistle/playlistle.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        function makeScoreString(){
            const color_list = JSON.parse(localStorage.getItem("colors"));
            var score_string = "";
            for(let i = 0; i < color_list.length; i++) {
                switch(color_list[i]) {
                    case "darkred":
                        score_string += "🟥";
                        break;
                    case "darkorange":
                        score_string += "🟨";
                        break;
                    case "darkgreen":
                        score_string += "🟩";
                        break;
                    default:
                        score_string += "⬛";
                }
            }
            for(let i = color_list.length; i < 7; i++) {
                score_string += "⬛";
            }
            return score_string;
        }
        function openModal() {
            updateScore();
            $('.modal-body').html(makeScoreString()
                    + "<br>Playlist: {{ playlist }}" + "<br>");
            $('#myModal').modal('show');
        }
    </script>
    <script>
        function updateScore() {
            var totalBoxes = 7;
            const colors = localStorage.getItem("colors");
            const guesses = localStorage.getItem("guesses");
            if(colors === null) {
                return;
            } else {
                const color_list =  JSON.parse(colors);
                const guess_list = JSON.parse(guesses);
                const divs = document.querySelectorAll('.border-entry');
                divs.forEach((div, index) => {
                    if(index >= color_list.length){
                        div.style.color = "black";
                        div.textContent = "";
                    } else {
                        div.style.color = color_list[index];
                        div.textContent = guess_list[index];
                    }
                });
            }
        }
    </script>
    <script>
        function endGame(exitCode) {
            localStorage.setItem("song_found", exitCode);
            document.getElementById('openModalBtn').style.visibility = 'visible';
            $("#button_submit").prop("disabled", true);
            $("#button_skip").prop("disabled", true);
            openModal();
        }
    </script>
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i]; while (c.charAt(0) == ' ') c = c.substring(1); if
                    (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            } return "";
        } 
    </script>
    <script>
    // Reset local storage
    $(document).ready( function () {
        $.ajax({
                type: 'GET', url: 'song_hash', beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }, success: function (response) {
                    if(localStorage.getItem(response['song_hash']) === null) {
                        localStorage.clear();
                        localStorage.setItem(response['song_hash'], '1');
                        location.reload(true);
                    }
                    updateScore();
                }
        });
    });
    </script>
    <script>
        function addItemToStorage(key, item){
            const storedList = localStorage.getItem(key);
            if(storedList === null) {
                var list = [item];
                localStorage.setItem(key, JSON.stringify(list));
            } else {
                var list = JSON.parse(storedList);
                list.push(item);
                localStorage.setItem(key, JSON.stringify(list));
            }
        }
    </script>
    <script>
        function getSongClip(length) {
            $.ajax({
                type: 'GET', url: 'song_clip', beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }, data: { 'length': length, }, success: function (response) {
                    var p = document.getElementById('player'); 
                    p.src = `https://jonochen.net/playlistle/song_clip?length=${length}`;
                    p.load();
                }
            });
        }
    </script>
    <script>
        <!-- Ajax script to POST to /song_submit endpoint -->
        $(document).ready(function () {
            $('#button_submit').on('click touchstart', function () {
                if(!$('#button_submit').prop("disabled")){
                    $('#song_form').submit();
                    return false;
                }
            });

            $('#song_form').submit(function (event) {
                event.preventDefault();
                const song_guess = $('#song_guess').val();
                $.ajax({
                    type: 'POST', url: 'song_submit', beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        }, data: { song: song_guess, }, success: function
                            (response) { 
                                $('#song_form')[0].reset();
                                if (response['is_song']) {
                                    addItemToStorage("colors", "darkgreen");
                                    addItemToStorage("guesses", song_guess);
                                    endGame("1");
                                } else {
                                    if(response['exists'] === false) {
                                        alert("Song not found. Try again.");
                                        return;
                                    }
                                    if(response['is_artist'] === true) {
                                        addItemToStorage("colors", "darkorange");
                                    } else {
                                        addItemToStorage("colors", "darkred");
                                    }
                                    addItemToStorage("guesses", song_guess);

                                    const new_guesses = JSON.parse(localStorage.getItem('guesses'));
                                    const new_guess_num = new_guesses.length;
                                    if (new_guess_num > 6) {
                                        endGame("0");
                                    }
                                    getSongClip(2 + parseInt(new_guess_num) * 3);
                                }
                                updateScore();
                            }
                 });
            });

            $('#button_skip').on('click touchstart', function () {
                if(!$('#button_skip').prop("disabled")){
                    $('#song_form')[0].reset();
                    // Increment guess number in localStorage
                    addItemToStorage("colors", "darkred");
                    addItemToStorage("guesses", "Skipped");

                    const new_guesses = JSON.parse(localStorage.getItem('guesses'));
                    const new_guess_num = new_guesses.length;
                    if (new_guess_num > 6) {
                        endGame("0");
                    }
                    getSongClip(2 + parseInt(new_guess_num) * 3);
                    updateScore();
                    return false;
                }
            });
        });
    </script>
    <script>
        const currGuesses = localStorage.getItem('guesses');
        const endedGame = localStorage.getItem('song_found')
        var length = 2;
        if(currGuesses !== null) {
            var guess_num = JSON.parse(currGuesses).length;
            if(endedGame !== null) {
                guess_num -= 1;
            }
            length = 2 + parseInt(guess_num) * 3;
        }
        $(document).ready( function () {
            getSongClip(length);
        });

    </script>
    <script>
        $(document).ready(function(){
            $("#openModalBtn").click(function(){
                openModal();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            if (localStorage.getItem("song_found") === null) {
            document.getElementById('openModalBtn').style.visibility = 'hidden';
        } else {
            document.getElementById('openModalBtn').style.visibility = 'visible';
            $("#button_submit").prop("disabled", true);
            $("#button_skip").prop("disabled", true);
        }
        });
    </script>
    <script>
        $.ajax({
            type: 'GET', url: 'song_identifiers', beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }, success: function (response) {
                song_identifiers = response['song_identifiers'];
                $( function() {
                    $( "#song_guess" ).autocomplete({
                        source: function(request, response) {
                            var results = $.ui.autocomplete.filter(song_identifiers, request.term);

                            response(results.slice(0, 10));
                        }
                    });
                } );
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#copy').click(function() {
                navigator.clipboard.writeText("{{ date_added }}\nhttps://jonochen.net/playlistle/\n" + makeScoreString());
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="headers">
            <button type="button" id="openModalBtn">
                <i class="fa-solid fa-share"></i>
            </button>
        </div>

        <div class="title">
            <div class="heading">playlistle</div>
            <div class="score">
                <div class="border-entry"></div>
                <div class="border-entry"></div>
                <div class="border-entry"></div>
                <div class="border-entry"></div>
                <div class="border-entry"></div>
                <div class="border-entry"></div>
                <div class="border-entry"></div>
            </div>
        </div>

        <audio controls id="player">
            <source src="" type="audio/mp3">
        </audio>

        <div class="guess_form">
            <form id="song_form" method="post">
                {% csrf_token %}
                <input id="song_guess" placeholder="Search for a song">
                <button id="button_submit" type="submit" name="button" value="Submit">Submit</button>
                <button id="button_skip" name="button" value="Skip">Skip</button>
            </form>
        </div>
    </div>


    <footer>
        <small>
            Made with ♥ at <a href="https://jonochen.net">jonochen.net</a>
        </small>
    </footer>
</body>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="display:flex;flex-direction:row;justify-content:space-between;">
          <h5 class="modal-title" id="myModalLabel">The answer was: {{ song_identifier }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button id="copy" type="button" class="btn btn-primary">Copy to clipboard</button>
        </div>
      </div>
    </div>
</div>