{% load static %}

<head>
    <title>Playlistle - jonochen.net</title>
    <link type="text/css" href="{% static 'playlistle/playlistle.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i]; while (c.charAt(0) == ' ') c = c.substring(1); if
                    (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            } return "";
        } 
    </script>
    <script>
        function getSongClip(length) {
            $.ajax({
                type: 'GET', url: 'get_clipped_song', beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }, data: { 'length': length, }, success: function (response) {
                    var p = document.getElementById('player'); 
                    p.src = `https://jonochen.net/playlistle/song_clip?length=${length}`;
                    p.load();
                }
            });
        }
    </script>
    <script>
        function getSongOfDay() {
            $.ajax({
                type: 'GET', url: 'get_songofday', beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }, success: function (response) {
                    
                }
            });
        }
    </script>
    <script>
        <!-- Ajax script to POST to /song_submit endpoint -->
        $(document).ready(function () {
            $('#song_form').submit(function (event) {
                event.preventDefault();
                const song_guess = $('#song_guess').val();
                // Determine which button was clicked
                const button_clicked = $('button[name="button"]:focus').val();

                if (button_clicked === 'Submit') {
                    $.ajax({
                        type: 'POST', url: 'song_submit', beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        }, data: { song: song_guess, }, success: function
                            (response) { 
                                $('#song_form')[0].reset();
                                if (response['is_song']) {
                                    alert('Song found!'); 
                                } else {
                                    // Increment guess number in localStorage
                                    const guess_num = localStorage.getItem('guess_num');
                                    if(guess_num === null) {
                                        localStorage.setItem('guess_num', '1');
                                    } else {
                                        localStorage.setItem('guess_num', (parseInt(guess_num) + 1).toString());
                                    }
                                    const new_guess_num = localStorage.getItem('guess_num');
                                    getSongClip(2 + parseInt(new_guess_num) * 3);
                                }
                            }
                    });
                } else if (button_clicked === 'Skip') { 
                    $('#song_form')[0].reset();
                    // Increment guess number in localStorage
                    const guess_num = localStorage.getItem('guess_num');
                    if(guess_num === null) {
                        localStorage.setItem('guess_num', '1');
                    } else {
                        localStorage.setItem('guess_num', (parseInt(guess_num) + 1).toString());
                    }
                 }
            });
        });
    </script>
    <script>
        const guess_num = localStorage.getItem('guess_num');
        var length = 2;
        if(guess_num !== null) {
            length = 2 + parseInt(guess_num) * 3;
        }
        $(document).ready( function () {
            getSongClip(length);
        });

    </script>
</head>

<body>
    <div class="container">
        <div class="title">
            <div class="heading">playlistle</div>
            How well do you know Arsch Aim?
        </div>

        <audio controls id="player">
            <source src="https://jonochen.net/playlistle/song_clip?length=1" type="audio/mp3">
        </audio>

        <div class="guess_form">
            <form id="song_form" method="post">
                {% csrf_token %}
                <input id="song_guess" placeholder="Search for a song">
                <button type="submit" name="button" value="Submit">Submit</button>
                <button type="submit" name="button" value="Skip">Skip</button>
            </form>
        </div>

        <div class="hints">

        </div>
    </div>
</body>